@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');
$bodyFont: OpenSans-Regular,"Open Sans",sans-serif;
//Colors
$redEquifax: #a30732;
$greyEquifax: #333E48;

body{
  margin: 0;
  padding: 0;
  font-family: $bodyFont;
}

.bg-myRed, .variant-myRed{
  background-color: $redEquifax;
}
