@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Open+Sans:wght@600&display=swap');

h3 {
  font-size: 110%;
  font-family: 'Open Sans', sans-serif;
  margin-left: 0%;
  margin-top: 7%;
}

.pAdapters {
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5%;
  margin-left: 23%;
  color: white;
  background-color: #a30732;
  width: 78%;
}

.elegirAdapter {
  font-size: 130%;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0%;
  margin-left: 1%;
}

.adapterBtn {
  background-color: #a30732;
  width: 35%;
  font-size: 125%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 3%;
  border: none;
  margin-left: 8%;
  margin-top: -7%;
}

.divFormOne {
  width: 23%;
  height: auto;
  margin-left: 15%;
  margin-top: auto;
  position: relative;
}
.btnBox {
  width: 30%;
  height: auto;
  margin-top: 2%;
  padding: 2%;
}

.getBtn {
  background-color: #a30732;
  width: 35%;
  font-size: 111%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 3%;
  border: none;
  margin-left: 1%;
  margin-top: -7%;
}
/* .formControl{
    width: 95%;
    margin: 0 0 0 2%;
} */
.adition {
  background-color: #a30732;
  color: white;
  width: 10%;
  font-size: 125%;
  border-radius: 3%;
  border: none;
  margin-left: 73%;
  /* margin-top: 16%; */
}

.btnDanger {
  background-color: #a30732;
  width: 35%;
  font-size: 125%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 3%;
  border: none;
  /* margin-left: 61%; */
  margin-top: -7%;
  margin-right: 2%;
}

.btn {
  background-color: #a30732;
  color: white;
}
.section {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}

.divForm {
  width: 100%;
  height: 100%;
  border-right-color: #808b96;
  border-right-style: solid;
  border-left-color: #808b96;
  border-left-style: solid;
}
.dinamicGeneratedConfigForm{

}
.divFormTwo {
  width: 30%;
  height: auto;
  margin-left: 55%;
  margin-top: 5%;
  background-color: #7c879c;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.divFormTwo:hover {
  background-color: #d6d6d6;
}

.configAdapters {
  font-size: 110%;
  font-family: 'Open Sans', sans-serif;
  margin-left: 15%;
  margin-top: 0%;
}
.dinamicForm {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.configDinamicForm {
  display: flex;
  flex-direction: column;
}
.configAdaptersOne {
  font-size: 110%;
  font-family: 'Open Sans', sans-serif;
  margin-left: 0%;
  margin-top: -121%;
}
.inputForm {
  /* background-color: #007298; */
  width: 100%;
  margin-left: 0%;
  margin: 0% 5% 0% 5%;
}

label {
  font-size: 110%;
  font-family: 'Open Sans', sans-serif;
  padding: 2%;
}

.descargarBtn {
  background-color: #a30732;
  width: 35%;
  font-size: 111%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 3%;
  border: none;
  margin-left: 57%;
  margin-top: -7%;
}
