@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #EBF2FF;
   
  }
  
.containerHome{
    background-color: #A30732;
    width: 33%;
    height: 30%;
    position: relative;
    margin-left: 29%;
    margin-top: -26%;
    border-radius: 2%;
   
}

.newOrquest{
    font-size: 214%;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    
}

.inputHome{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
}